# Django Settings
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True

# MySQL Database Configuration
DB_NAME=dialysistrack_db
DB_USER=root
DB_PASSWORD=gaurav2005
DB_HOST=localhost
DB_PORT=3306
